
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table-info{
  display: flex;
  justify-content: center;
}

table{
  width: 65%;
}

thead tr th{
  width: 25%;
  border: 1px solid #aaa;
}

td{
  border: solid 1px #ccc;
}

.link-actions{
  color: white;
  background-color: #6c90ba;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 10px 0;
}

.register{
  text-decoration: none;
  background-color: #6c90ba;
  color: white;
  padding: 5px 15px 0;
  border-radius: 5px;
}
.menu{
  width:12%;
  background-color: #99ccff;
  color: white;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover{
  color:#333;
}
.content{
  width: 88%;
}
.Menu_main{
  display: flex;
  flex-direction: row;
}
h1{
  margin-top: 0;
  color: white;
  background-color: #99ccff;
}

.submenu{
  display: flex;
  justify-content: space-around;
}

a.link{
  text-decoration:none;
  padding: 10px;
  background: #99ccff;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

a.link:visited{
  color:white;
}

.form_add{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}
.cont_info{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.ct-form{
  margin-bottom: 10px;
  display: flex;;
  justify-content: space-around;
}
.inp_vg{
  border-radius: 5px;
  width: 18%;
  height: 35px;
}
input.inp_vg{
  border: 1px solid #ccc;
}
.btn-add{
  height: 24px;
  background-color: #6c90ba;
  color: white;
}
.form_info{
  display: flex;
  border: 1px solid #ccc;
}
/* styles columns */
.col-1{
  width: 100%;
}
.col-1-4{
  width: 60%
}
.col-2{
  width: 50%;
}
.col-2-4{
  width: 40%;
}
.col-3{
  width: 33%;
}
.col-4{
  width: 20%;
}
.form-compra{
  display: flex;
  flex-direction: column;
}
.form__info-product{
  display: none;
}
.show{
  display: block;
}
.prod_info{
  font-size: 12px;
  margin:5px;
}

/* tables style bootstraap */
.table {
 width: 100%;
 max-width: 100%;
 margin-bottom: 1rem;
}
.table th,
.table td {
 padding: 0.75rem;
 vertical-align: top;
 border-top: 1px solid #eceeef;
}
.table thead th {
 vertical-align: bottom;
 border-bottom: 2px solid #eceeef;
}
.table tbody + tbody {
 border-top: 2px solid #eceeef;
}
.table .table {
 background-color: #fff;
}
.table-sm th,
.table-sm td {
 padding: 0.3rem;
}
.table-bordered {
 border: 1px solid #eceeef;
}
.table-bordered th,
.table-bordered td {
 border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
 border-bottom-width: 2px;
}
.table-striped tbody tr:nth-of-type(odd) {
 background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-active,
.table-active > th,
.table-active > td {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-success,
.table-success > th,
.table-success > td {
 background-color: #dff0d8;
}
.table-hover .table-success:hover {
 background-color: #d0e9c6;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
 background-color: #d0e9c6;
}
.table-info,
.table-info > th,
.table-info > td {
 background-color: #d9edf7;
}
.table-hover .table-info:hover {
 background-color: #c4e3f3;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
 background-color: #c4e3f3;
}
.table-warning,
.table-warning > th,
.table-warning > td {
 background-color: #fcf8e3;
}
.table-hover .table-warning:hover {
 background-color: #faf2cc;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
 background-color: #faf2cc;
}
.table-danger,
.table-danger > th,
.table-danger > td {
 background-color: #f2dede;
}
.table-hover .table-danger:hover {
 background-color: #ebcccc;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
 background-color: #ebcccc;
}
.thead-inverse th {
 color: #fff;
 background-color: #292b2c;
}
.thead-default th {
 color: #464a4c;
 background-color: #eceeef;
}
.table-inverse {
 color: #fff;
 background-color: #292b2c;
}
.table-inverse th,
.table-inverse td,
.table-inverse thead th {
 border-color: #fff;
}
.table-inverse.table-bordered {
 border: 0;
}
.table-responsive {
 display: block;
 width: 100%;
 overflow-x: auto;
 -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive.table-bordered {
 border: 0;
}

/* end bootstrap style table */

.total{
  color: green;
  font-weight: bold;
}

thead tr th{
  width: 14%;
}

#proveedor{
  width: 21%;
}
input[type=text]{
  padding-left: 10px;
}

input#numero {
    padding-left: 10px;
}